.noticia{
   width: 100px;
   height: 100px;
   margin-right: 40px;
   

       
  }

  .form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 300px;
    margin: 0 auto 100px;
    padding: 70px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    text-align: left;
  }

  body {
    background: #ccc;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .titulo {
      
      margin-left: 100px;
      position: absolute;
      top: -5px;
      font-style: arial;
      color: white;
      background-color: aqua;
      
      
  }

  .subtitulo {
    margin-left: 200px;
    padding: -50px 10px 0px 0px;
    
    
      
  }